.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
}


h1 {
  font-family: Lobster;
  font-size: 50px;
}

body {
  background-image: linear-gradient(#615dad, #ffc8da);
  height: 100vh;
  background-size: auto;
  justify-content: center;
  align-items: center;
  border: 50%;
}

img {
  border-radius: 5px 5px 0 0;
  max-width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  width: 360px;
  /* height: auto; */
  /* min-height: 100%; */
  margin: auto;
  /* tohle mi kartičku hodilo doprostřed, ale nevím proč a nevím zda to je správně */
}

.container__content {
  background-color: #283e50;
  color: #ffffff;
  padding: 15px;
  text-align: center;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}

.container__buttons {
  display: flex;
  flex-wrap: wrap;
  /* row, wrap a pak si pohrát samostatně s buttonkama */
  align-items: center;
  color: white;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  /* width: 100%; */
}

.container__buttons a {
  color: white;
  text-decoration: none;
}

.container__buttons--play {
  white-space: nowrap;
  flex-basis: 100%;
  text-align: center;
  padding: 15px;
  background-color: #0197f6;
}

.container__buttons--rules {
  background-color: #1fcca4;
  flex-basis: 100%;
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #283e50;
}

.container__buttons--rules:hover {
  background: #1cbb96;
}

.container__buttons--play:hover {
  background: #0090e9;
}

.main {
  display: flex;
  justify-content: center;
  max-width: 80vmin;
}

.headline {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  color: #ffffff;
}

.main__indicators {
  display: flex;
  justify-content: space-between;
}
