.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;

}

* {
  box-sizing: border-box;
}


h1 {
  font-family: Lobster;
  font-size: 50px;
}

body {
  background-image: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

img {
  border-radius: 5px 5px 0 0;
  max-width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  width: 360px;
  /* height: auto; */
  /* min-height: 100%; */
  margin: auto;
  /* tohle mi kartičku hodilo doprostřed, ale nevím proč a nevím zda to je správně */
  margin-top: 80px;
}

.container__content {
  background-color: #283e50;
  color: #ffffff;
  padding: 15px;
  text-align: center;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}

.container__buttons {
  display: flex;
  flex-wrap: wrap;
  /* row, wrap a pak si pohrát samostatně s buttonkama */
  align-items: center;
  color: white;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  /* width: 100%; */
}

.container__buttons a {
  color: white;
  text-decoration: none;
}

.container__buttons--play {
  white-space: nowrap;
  flex-basis: 100%;
  text-align: center;
  padding: 15px;
  background-color: #0197f6;
}

.container__buttons--rules {
  background-color: #1fcca4;
  flex-basis: 100%;
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #283e50;
}

.container__buttons--rules:hover {
  background: #1cbb96;
}

.container__buttons--play:hover {
  background: #0090e9;
}

/* CSS PRO HRA.HTML */

/* tohle body mi to celý hodilo na střed, nevím proč */
body {
  background-repeat: no-repeat;
  min-height: 100vh;
  max-width: 80vmin;
  margin: auto;
  background-attachment: fixed;
}

/* Toto jsem v devtools měla jako default nastavení u písma a dělalo mi to neplechu s rozvržením stránky, tak jsem to musela takhle natvrdo nastavit */
h1 {
  margin-block-start: 10px;
  margin-block-end: 0;
}

.game__headline {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: white;
}

.game__nav {
  display: flex;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: white;
  font-weight: 700;
  padding-bottom: 10px;
}

.game__nav--right {
  display: flex;
  align-items: center;
}

.game__nav--left {
  display: flex;
  align-items: center;
}

.game__field {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  /* margin-top: 20px; */
  border: 1px solid #283e50;
}

button {
  width: calc(100% / 10);
  border: 1px solid #283e50;
  background-color: #bbb0d6;
  aspect-ratio: 1 / 1;
  padding: none;
}


.game__nav--home {
  background-color: #1fcca4;
  flex-basis: 100%;
  padding: 5px;
  border-radius: 5px;
  margin-right: 5px;
}

.game__nav--restart {
  background-color: #0197f6;
  flex-basis: 100%;
  padding: 5px;
  border-radius: 5px;
  margin-left: 5px;
}

.game__nav--home:hover,
.game__nav--home:focus {
  background: #1cbb96;
  cursor: pointer;
}

.game__nav--restart:hover,
.game__nav--restart:focus {
  background: #0090e9;
  cursor: pointer;
}

button:hover,
button:focus {
  background-color: #d9d4e6;
  cursor: pointer;
}

.game__square--cross {
  background-image: url(images/cross.svg);
}

.game__square--circle {
  background-image: url(images/circle.svg);

}

.game__square--cross,
.game__square--circle {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  color: black;
}
